<script>
import {Head, Link} from '@inertiajs/inertia-vue3';
import DefaultLayout from '@/Layouts/Default';
import ApplicationLogo from '@/Components/ApplicationLogo';
import CategoryTag from "@/Components/CategoryTag";
import Tag from "@/Components/Tag";

export default {
    components: {
        Head,
        DefaultLayout,
        ApplicationLogo,
        CategoryTag,
        Tag,
    },
    props: {
        assetBaseUrl: {
            type: String
        },
        categories: {
            type: Array
        },
        courses: {
            type: Array
        },
    },
    data() {
        return {
            pageIndex: 0,
            filter: {
                name: '',
                category: '',
            }
        };
    },
    computed: {
        maxPageIndex() {
            return Math.ceil(this.coursesFiltered.length / 9)-1;
        },
        pagesForButtons() {
            return _.range(
                Math.max(0, this.$data.pageIndex-2),
                Math.min(this.maxPageIndex, this.$data.pageIndex+2)+1
            );
        },
        coursesFiltered() {
            return (this.$props.courses || [])
                .filter(course => course.episodes.length > 0)
                .filter(course => course.category.indexOf(this.$data.filter.category) >= 0)
                .filter(course => course.name.toLowerCase().indexOf(this.$data.filter.name.toLowerCase()) >= 0);
        },
        coursesPaginated() {
            return this.coursesFiltered.slice(this.$data.pageIndex*9, (this.$data.pageIndex+1)*9);
        }
    },
}
</script>

<template>
    <Head title="Home"/>

    <DefaultLayout>
        <div class="px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-5">
            <div class="max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl md:mb-6">
                <ApplicationLogo class="mx-auto mb-4 w-20 h-20 fill-current text-gray-500" />
                <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
                    Improve your PVP skills, for free
                </h2>
                <p class="text-base text-gray-700 md:text-lg">
                    Here you'll find top-notch guides to step up your WoW PVP game. The best thing: it's free!
                </p>
            </div>

            <div v-if="this.$props.courses?.length > 0">
                <div class="flex flex-row mb-4 justify-between w-full">
                    <h2 class="text-2xl leading-tight">
                        Courses
                    </h2>
                    <div class="text-end">
                        <form @submit.prevent="this.$data.pageIndex=0" class="flex flex-col md:flex-row w-3/4 md:w-full max-w-sm md:space-x-3 space-y-3 md:space-y-0 justify-center">
                            <select v-model="filter.category" class="block w-52 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="animals">
                                <option value="">
                                    Select a category
                                </option>
                                <option v-for="category in categories" :value="category">
                                    {{ category }}
                                </option>
                            </select>
                            <div class=" relative ">
                                <input v-model.lazy.trim="filter.name" type="text" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="name"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div v-if="coursesFiltered.length > 0">
                    <div class="grid gap-5 row-gap-5 mb-4 lg:grid-cols-3 sm:grid-cols-2">
                        <a v-for="course in coursesPaginated" :key="course.skillcapped_id" :href="`/wow/course/${course.name_slugged}/${course.skillcapped_id}`" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
                            <div class="flex flex-col h-full">
                                <img :src="course.thumbnail_url" class="object-cover w-full h-48" alt="" />
                                <div class="flex-grow border border-t-0 rounded-b">
                                    <div class="p-5">
                                        <h6 class="mb-2 font-semibold leading-5">{{ course.name }}</h6>
                                        <p class="text-gray-800">
                                            <CategoryTag :category="course.category" />
                                            <Tag class="ml-2">{{ course.episodes.length }} episodes</Tag>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div v-if="coursesFiltered.length > 9" class="rounded shadow-sm px-5 bg-white py-5 flex flex-col xs:flex-row items-center xs:justify-between">
                        <div class="flex items-center">
                            <button @click="this.$data.pageIndex = Math.max(0, this.$data.pageIndex-1)" type="button" class="w-10 p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100">
                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>

                            <button v-for="pageNumber in pagesForButtons" type="button" :class="{'bg-indigo-100': pageNumber === this.$data.pageIndex}" @click="this.$data.pageIndex = pageNumber" class="w-20 px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100 ">
                                {{ pageNumber+1 }}
                            </button>
                            <button @click="this.$data.pageIndex = Math.min(this.maxPageIndex, this.$data.pageIndex+1)" type="button" class="w-10 p-4 border-t border-b border-r text-base  rounded-r-xl text-gray-600 bg-white hover:bg-gray-100">
                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <p v-else class="w-1/2 mx-auto text-center">No courses match the search criterias.</p>
            </div>
            <p v-else class="w-1/2 mx-auto text-center">No courses available yet.</p>
        </div>
    </DefaultLayout>
</template>

<style scoped>
</style>
