<template>
    <Head :title="this.$props.episode.name"/>

    <DefaultLayout>
        <div class="flex items-center justify-between py-4">
            <a class="w-28 flex items-center px-4 py-2 text-base font-medium rounded-md text-white bg-indigo-700 transition duration-500 hover:bg-indigo-900" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="mr-4" fill="currentColor"
                     viewBox="0 0 1792 1792">
                    <path
                        d="M1792 800v192q0 14-9 23t-23 9h-1248v224q0 21-19 29t-35-5l-384-350q-10-10-10-23 0-14 10-24l384-354q16-14 35-6 19 9 19 29v224h1248q14 0 23 9t9 23z"></path>
                </svg> Back
            </a>
        </div>

        <div class="w-full bg-stone-800 py-4 shadow rounded-md">
            <VideoPlayer class="video-js" :options="this.$data.videoOptions" @ended="startNextEpisode()"/>
        </div>

        <div class="py-4 flex flex-col md:flex-row w-full">
            <div class="w-full md:w-1/2 mb-4 justify-content-center">
                <h2 class="font-medium text-2xl">{{ episode.name }}</h2>

                <p>{{ episode.description }}</p>
            </div>
            <div class="w-full md:w-1/2">
                <div class="container flex flex-col mx-auto w-full items-center justify-center">
                    <div class="px-4 py-5 sm:px-6 w-full border bg-white shadow mb-2 rounded-md">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            {{ episode.course.name }}
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            {{ episode.course.episodes.length }} episodes
                        </p>
                    </div>
                    <ul class="flex flex-col w-full">
                        <li v-for="playlistEpisode in episode.course.episodes" :key="playlistEpisode.skillcapped_id"
                            class="border-gray-400 w-full flex flex-row mb-2">
                            <div @click="startEpisode(playlistEpisode)" :class="{
                                'bg-white': playlistEpisode.skillcapped_id !== episode.skillcapped_id,
                                'bg-indigo-200': playlistEpisode.skillcapped_id === episode.skillcapped_id,
                            }"
                                 class="w-full transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer rounded-md flex flex-1 items-center p-4">
                                <div class="truncate flex-1 pl-1 md:mr-16">
                                    <div class="font-medium truncate">
                                        {{ playlistEpisode.name }}
                                    </div>
                                </div>
                                <div class="text-gray-600 text-xs">
                                    {{ this.humanizeSeconds(playlistEpisode.length) }}
                                </div>
                                <button class="w-24 text-right flex justify-end">
                                    <svg width="12" fill="currentColor" height="12"
                                         class="hover:text-gray-800 text-gray-500" viewBox="0 0 1792 1792"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </DefaultLayout>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3';
import DefaultLayout from '@/Layouts/Default';
import VideoPlayer from '@/Components/VideoPlayer';

export default {
    components: {
        Head,
        Link,
        DefaultLayout,
        VideoPlayer
    },
    props: {
        assetBaseUrl: {
            type: String,
        },
        episode: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            videoOptions: {
                fill: true,
                fluid: true,
                responsive: true,
                controls: true,
                autoplay: window.location.search.indexOf('autoplay') >= 0,
                poster: this.$props.episode.thumbnail_url,
                sources: [
                    {
                        src: `/${this.$props.episode.skillcapped_id}.m3u8`,
                        type: 'application/x-mpegURL'
                    }
                ]
            },
        }
    },
    methods: {
        humanizeSeconds(value) {
            if (!value) return '00:00';

            const hours = Math.floor(value / 3600);
            const minutes = Math.floor(value / 60);
            const remaining = `${value % 60}`.padStart(2, '0');

            let hoursPart = '';
            if (hours > 0) {
                hoursPart = `${hours}`.padStart(2, '0') + ':';
            }

            let minutesPart = `${minutes}`.padStart(2, '0') + ':';

            return `${hoursPart}${minutesPart}${remaining}`;
        },
        startEpisode(episode) {
            if (episode.skillcapped_id === this.$props.episode.skillcapped_id) return;

            this.$inertia.get(`/wow/course/${this.$props.episode.course.name_slugged}/${this.$props.episode.course.skillcapped_id}/${episode.name_slugged}/${episode.skillcapped_id}`);
        },
        startNextEpisode() {
            const nextEpisodeIndex = this.$props.episode.course_playlist_position_index+1;
            const nextEpisode = this.$props.episode.course.episodes.find((e) => e.course_playlist_position_index===nextEpisodeIndex);
            if (!nextEpisode) return

            this.$inertia.get(`/wow/course/${this.$props.episode.course.name_slugged}/${this.$props.episode.course.skillcapped_id}/${nextEpisode.name_slugged}/${nextEpisode.skillcapped_id}?autoplay`);
        }
    }
}
</script>

<style scoped>
</style>
