<template>
<span class="relative inline-block px-3 py-1 font-semibold leading-tight" :style="{color}">
    <span aria-hidden="true" class="absolute inset-0 opacity-50 rounded-full" :style="{backgroundColor}">
    </span>
    <span class="relative">
        {{ this.$props.category }}
    </span>
</span>
</template>

<script>
const categoryColors = {
    'DK': '#C41E3A',
    'DH': '#A330C9',
    'Druid': '#FF7C0A',
    'Evoker': '#33937F',
    'Hunter': '#AAD372',
    'Mage': '#3FC7EB',
    'Monk': '#00FF98',
    'Paladin': '#F48CBA',
    'Priest': '#AAAAAA',
    'Rogue': '#FFF468',
    'Shaman': '#0070DD',
    'Warlock': '#8788EE',
    'Warrior': '#C69B6D',
};
export default {
    props: {
        category: {
            type: String,
        }
    },
    computed: {
        color() {
            return categoryColors[this.$props.category] || '#222';
        },
        backgroundColor() {
            return categoryColors[this.$props.category] || '#222';
        }
    }
}
</script>

<style scoped>

</style>
