<template>
<span class="relative inline-block px-3 py-1 font-semibold text-stone-900 leading-tight">
    <span aria-hidden="true" class="absolute inset-0 bg-stone-200 opacity-50 rounded-full">
    </span>
    <span class="relative">
        <slot />
    </span>
</span>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
