<template>
    <video ref="videoPlayer"></video>
</template>

<script>
import videojs from 'video.js';

export default {
    props: {
        options: {
            type: Object,
            default() {
                return {};
            }
        },
    },
    data() {
        return {
            player: null,
        }
    },
    mounted() {
        this.player = videojs(this.$refs.videoPlayer, this.options, () => {
            this.player.log('onPlayerReady', this);
        });

        this.player.on('ended', (e) => this.$emit('ended', e));
    },
    beforeDestroy() {
        if (this.player) {
            this.player.dispose();
        }
    }
}
</script>

<style>
.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
</style>
