<template>
    <Head :title="Courses"/>

    <Authenticated>
        <div class="container mx-auto px-4 sm:px-8">
            <div class="py-8">
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                            <tr>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                                    ID
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                                    Name
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                                    Category
                                </th>
                                <th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="course in this.$props.courses">
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ course.skillcapped_id }}
                                    </p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
<!--                                    <div class="flex items-center">-->
<!--                                        <div class="flex-shrink-0">-->
<!--                                            <a href="#" class="block relative">-->
<!--                                                <img alt="profil" src="/images/person/8.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="ml-3">-->
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                {{ course.name }}
                                            </p>
<!--                                        </div>-->
<!--                                    </div>-->
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        <CategoryTag :category="course.category" />
                                    </p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <Link :href="route('courses.show', {id: course.id})" class="text-indigo-600 hover:text-indigo-900">
                                        Edit
                                    </Link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
<!--                        <div class="px-5 bg-white py-5 flex flex-col xs:flex-row items-center xs:justify-between">-->
<!--                            <div class="flex items-center">-->
<!--                                <button type="button" class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100">-->
<!--                                    <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">-->
<!--                                        </path>-->
<!--                                    </svg>-->
<!--                                </button>-->
<!--                                <button type="button" class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100 ">-->
<!--                                    1-->
<!--                                </button>-->
<!--                                <button type="button" class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                                    2-->
<!--                                </button>-->
<!--                                <button type="button" class="w-full px-4 py-2 border-t border-b text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                                    3-->
<!--                                </button>-->
<!--                                <button type="button" class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                                    4-->
<!--                                </button>-->
<!--                                <button type="button" class="w-full p-4 border-t border-b border-r text-base  rounded-r-xl text-gray-600 bg-white hover:bg-gray-100">-->
<!--                                    <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">-->
<!--                                        <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">-->
<!--                                        </path>-->
<!--                                    </svg>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </Authenticated>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3';
import Authenticated from '@/Layouts/Authenticated';
import CategoryTag from "@/Components/CategoryTag";

export default {
    components: {
        CategoryTag,
        Head,
        Link,
        Authenticated
    },
    props: {
        courses: {
            type: Array,
        }
    }
}
</script>

<style scoped>
</style>
