<template>
    <Head :title="Courses"/>

    <Authenticated>
        <p>You're editing course "{{ course.name }}".</p>
    </Authenticated>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3';
import Authenticated from '@/Layouts/Authenticated';

export default {
    components: {
        Head,
        Authenticated
    },
    props: {
        course: {
            type: Object,
        }
    }
}
</script>

<style scoped>
</style>
